<nav class="navbar navbar-dark bg-primary shadow navbar-custom">
    <a class="navbar-brand" href="/">
        <i class="fas fa-book"></i> Documentação
    </a>
     <a class="navbar-brand" href="/email">
        <i class="fa-solid fa-envelope"></i> Config. Envio E-mail's
    </a> 
    <a class="navbar-brand" href="/users">
        <i class="fa-solid fa-user"></i> Usuários
    </a> 
    <a class="navbar-brand" href="/config">
        <i class="fa-solid fa-gear"></i> Config BD Oracle
    </a>
</nav>